$icons__badge-size: 40px;
$icons__badge-icon-size: 0.4;
$icons__badge-background: #fff;
$icons__badge-active-color: #fff;
$icons__badge-transition-time: 0.3s;
$icons__badge-colors: (
  'facebook': #3b5999,
  'twitter': #55acee,
  'instagram': #e4405f,
);